<div class="row text-center mt-5">
  <div class="col-12 col-lg-5 mx-auto">
    <mat-card>
      <mat-card-title>
        Tasks
      </mat-card-title>
      <mat-card-content>
        <button mat-raised-button [routerLink]="'/task-planner'">Open</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-lg-5 mx-auto">
    <mat-card>
      <mat-card-title>
        Statistics
      </mat-card-title>
      <mat-card-content>
        <button mat-raised-button [routerLink]="'/stats'">Open</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
